---
title: Login | Walsky Investment Management
description: Welcome back. Log in to your account to read all of our exclusive newsletters.
layout: login.hbt
---

<main class="login">
    <div class="login--content">
        <div class="container">
            <div class="columns">
                <div class="login--content_form form-logic column is-offset-1">
                    <a href="/"><img src="/img/logos/logo.svg" alt="Walsky Logo" width="150" class="login-logo"></a>
                    <h2 class="title has-text-centered">Log In</h2>
                    <form @submit.prevent="signIn">
                        <div class="field">
                            <label for="email">E-mail</label>
                            <p class="control has-icons-left has-icons-right">
                                <input v-model="email" class="input" type="email" placeholder="Email">
                                <span class="icon is-small is-left">
                                    <img src="/img/icons/login-email.svg" alt="">
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <label for="password">Password</label>
                            <p class="control has-icons-left">
                                <input v-model="password" class="input" type="password" placeholder="Password">
                                <span class="icon is-small is-left">
                                    <img src="/img/icons/login-password.svg" alt="">
                                </span>
                            </p>
                        </div>
                        <div class="login--controls">
                            <button class="button">Sign In</button>
                            <div class="login--controls_helper">
                                <a href="/reset">I forgot my password</a>
                                <a href="/create-account" class="is-hidden-tablet">New User? Create an account today</a>
                            </div>
                        </div>
                    </form>
                </div>
                <img class="login--content_line" src="/img/icons/login-line.svg" alt="">
                <div class="login--content_text column is-5 is-offset-3">
                    <img src="/img/login/login.jpg" alt="">
                    <h2>Sign up today to enjoy these benefits</h2>
                    <ul class="has-margin-bottom-md">
                        <li>Access to exclusive members only content</li>
                        <li>The latest in finance news</li>
	                    <li>Add more features</li>
                    </ul>
                    <a href="/create-account" class="btn-cta">Join Today</a>
                </div>
            </div>
        </div>
    </div>
</main>