.personal-services {
    .article--hero {
        @include hero-img(url('/img/personal-services/hero.jpg'));
    }

    .difference-icon {
        margin-bottom: 12px;
        height: 52px;
    }
    .slant-right {
        background: url('/img/backgrounds/dividends-work.svg') no-repeat center center;
        background-size: cover;
    }
}