.navbar {
    padding-top: .35em;
    padding-bottom: .35em;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    position: relative;

    &-brand {
        img {
            width: 175px;
            padding: .25em 0;
        }
    }

    .navbar-item {
        padding-top: 20px;
        padding-bottom: 12px;
        color: #0B4A37;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
    }

    .navbar-end {
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;

        &--aux {
            display: flex;
        }

        &--main {
            display: flex;
        }
    }

    .nav-hr {
        display: none;
        @media (min-width: 1088px) {
            display: inherit;
            width: 95%;
            height: 1px;
            position: absolute;
            top: 37px;
            left: 215px;
            border: .5px solid rgba(30, 55, 47, 0.50);
        }
    }
}

.navbar-dropdown {
    background: #024631;
}

// Bulma Overrides

.navbar-link.is-active,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:hover {
    background-color: transparent;
    color: #024631;
}

.navbar-link:not(.is-arrowless)::after {
    border-color: #024631;
}

.navbar-dropdown a.navbar-item:hover {
    background: hsla(180, 32%, 40%, 1);
    text-decoration: none;
}

.navbar-burger {
    top: 3em;
}